.transition_hideComplete {
    opacity: 0;
}

.transition_showComplete {
    opacity: 1;
}

.animateList {
}

    .animateList tr {
        background-color: aliceblue;
        animation-name: animateList;
        animation-duration: 350ms;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }

        .animateList tr:nth-child(0) {
            animation-delay: 0s;
            -webkit-animation-delay: 0s;
        }

        .animateList tr:nth-child(1) {
            animation-delay: .1s;
            -webkit-animation-delay: .1s;
        }

        .animateList tr:nth-child(2) {
            animation-delay: .2s;
            -webkit-animation-delay: .2s;
        }

        .animateList tr:nth-child(3) {
            animation-delay: .3s;
            -webkit-animation-delay: .3s;
        }

        .animateList tr:nth-child(4) {
            animation-delay: .4s;
            -webkit-animation-delay: .4s;
        }

        .animateList tr:nth-child(5) {
            animation-delay: .5s;
            -webkit-animation-delay: .5s;
        }

        .animateList tr:nth-child(6) {
            animation-delay: .6s;
            -webkit-animation-delay: .6s;
        }

        .animateList tr:nth-child(7) {
            animation-delay: .7s;
            -webkit-animation-delay: .7s;
        }
        .animateList tr:nth-child(8) {
            animation-delay: .7s;
            -webkit-animation-delay: .7s;
        }

        .animateList tr:nth-child(9) {
            animation-delay: .9s;
            -webkit-animation-delay: .9s;
        }

        .animateList tr:nth-child(10) {
            animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }

@keyframes animateList {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}
